node_modules

# Lock files (using Pnpm)
package-lock.json
yarn.lock
bun.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*
bun-error.log*

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Build testing files
/static/hover-tilt.js