---
import WebComponentLoader from '@components/astro/WebComponentLoader.astro';
---

<WebComponentLoader />

<div class="flex flex-col justify-center items-center">
  <hover-tilt shadow class="[&::part(container)]:rounded-[4.55%/3.5%] max-w-90">
    <img src="/pokemon/sv3-5_en_035_std.webp" alt="Pokémon #0035: Clefairy" loading="lazy" class="rounded-[inherit]" />
  </hover-tilt>

  <small class="block mt-4 text-center text-balance text-gray-500"
    ><em>Clefairy is so happy to be tilting with you!</em></small
  >
</div>
