---
import WebComponentLoader from '@components/astro/WebComponentLoader.astro';
---

<WebComponentLoader />

<div class="flex flex-col justify-center items-center">
  <hover-tilt
    shadow
    scale-factor={1.2}
    glare-mask="url(/pokemon/sv9_en_184_std.foil.webp)"
    glare-mask-mode="luminance"
    glare-intensity={3}
    blend-mode="hard-light"
    class="sparkles [&::part(container)]:rounded-[4.55%/3.5%] max-w-90"
  >
    <img
      src="/pokemon/sv9_en_184_std.webp"
      alt="Pokémon Trainer Lille's Clefairy (Special Illustration Art)"
      loading="lazy"
      class="rounded-[inherit]"
    />
  </hover-tilt>

  <small class="block mt-4 text-center text-balance text-gray-500"
    ><em>Clefairy shows off it's signature derpy tooth.</em></small
  >
</div>

<style>
  .sparkles::part(tilt)::before {
    --sparkle-rainbow-gradient: linear-gradient(to top left, #f9b3eb, #e2a6fc, #88a2f8, #a2f5a9 90%);
    --sparkles-image: url(/pokemon/sparkles.webp);
    --sparkles-offset: calc(50% + var(--hover-tilt-x, 0) * 1.5px) calc(50% + var(--hover-tilt-y, 0) * 1.5px);
    background-image: var(--sparkle-rainbow-gradient), var(--sparkles-image), var(--hover-tilt-default-gradient);
    background-size:
      cover,
      200px 200px,
      cover;
    background-position: center, var(--sparkles-offset), center;
    background-repeat: no-repeat, repeat, no-repeat;
    background-blend-mode: color-burn, color-dodge;
    opacity: calc(var(--hover-tilt-opacity, 0) * 0.6);
    will-change: background-image, background-position, opacity;
  }
</style>
