@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@layer base {
  button,
  input,
  select,
  optgroup,
  textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }
  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }
  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }
  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }
  ::file-selector-button {
    margin-inline-end: 4px;
  }
  ::placeholder {
    opacity: 1;
  }
  @supports (not ((-webkit-appearance: -apple-pay-button))) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      color: color-mix(in oklab, currentcolor 50%, transparent);
    }
  }
  textarea {
    resize: vertical;
  }
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }
  ::-webkit-datetime-edit {
    display: inline-flex;
  }
  ::-webkit-datetime-edit {
    padding-block: 0;
  }
  ::-webkit-datetime-edit-year-field {
    padding-block: 0;
  }
  ::-webkit-datetime-edit-month-field {
    padding-block: 0;
  }
  ::-webkit-datetime-edit-day-field {
    padding-block: 0;
  }
  ::-webkit-datetime-edit-hour-field {
    padding-block: 0;
  }
  ::-webkit-datetime-edit-minute-field {
    padding-block: 0;
  }
  ::-webkit-datetime-edit-second-field {
    padding-block: 0;
  }
  ::-webkit-datetime-edit-millisecond-field {
    padding-block: 0;
  }
  ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }
  ::-webkit-calendar-picker-indicator {
    line-height: 1;
  }
  :-moz-ui-invalid {
    box-shadow: none;
  }
  button,
  input:where([type='button'], [type='reset'], [type='submit']) {
    appearance: button;
  }
  ::file-selector-button {
    appearance: button;
  }
  ::-webkit-inner-spin-button {
    height: auto;
  }
  ::-webkit-outer-spin-button {
    height: auto;
  }
  [hidden]:where(:not([hidden='until-found'])) {
    display: none !important;
  }
  .tooltip-arrow,
  .tooltip-arrow:before {
    background: inherit;
    width: 8px;
    height: 8px;
    position: absolute;
  }
  .tooltip-arrow {
    visibility: hidden;
  }
  .tooltip-arrow:before {
    content: '';
    visibility: visible;
    transform: rotate(45deg);
  }
  [data-tooltip-style^='light'] + .tooltip > .tooltip-arrow:before {
    border-style: solid;
    border-color: var(--color-neutral-tertiary);
  }
  [data-tooltip-style^='light'] + .tooltip[data-popper-placement^='top'] > .tooltip-arrow:before {
    border-bottom-width: 1px;
    border-right-width: 1px;
  }
  [data-tooltip-style^='light'] + .tooltip[data-popper-placement^='right'] > .tooltip-arrow:before {
    border-bottom-width: 1px;
    border-left-width: 1px;
  }
  [data-tooltip-style^='light'] + .tooltip[data-popper-placement^='bottom'] > .tooltip-arrow:before {
    border-top-width: 1px;
    border-left-width: 1px;
  }
  [data-tooltip-style^='light'] + .tooltip[data-popper-placement^='left'] > .tooltip-arrow:before {
    border-top-width: 1px;
    border-right-width: 1px;
  }
  .tooltip[data-popper-placement^='top'] > .tooltip-arrow {
    bottom: -3px;
  }
  .tooltip[data-popper-placement^='bottom'] > .tooltip-arrow {
    top: -3px;
  }
  .tooltip[data-popper-placement^='left'] > .tooltip-arrow {
    right: -3px;
  }
  .tooltip[data-popper-placement^='right'] > .tooltip-arrow {
    left: -3px;
  }
  .tooltip.invisible > .tooltip-arrow:before {
    visibility: hidden;
  }
  [data-popper-arrow],
  [data-popper-arrow]:before {
    background: inherit;
    width: 8px;
    height: 8px;
    position: absolute;
  }
  [data-popper-arrow] {
    visibility: hidden;
  }
  [data-popper-arrow]:before {
    content: '';
    visibility: visible;
    transform: rotate(45deg);
  }
  [data-popper-arrow]:after {
    content: '';
    visibility: visible;
    background: inherit;
    width: 9px;
    height: 9px;
    position: absolute;
    transform: rotate(45deg);
  }
  [role='tooltip'] > [data-popper-arrow]:before {
    border-style: solid;
    border-color: var(--color-neutral-tertiary);
  }
  .dark [role='tooltip'] > [data-popper-arrow]:before {
    border-style: solid;
    border-color: var(--color-dark);
  }
  [role='tooltip'] > [data-popper-arrow]:after {
    border-style: solid;
    border-color: var(--color-neutral-tertiary);
  }
  .dark [role='tooltip'] > [data-popper-arrow]:after {
    border-style: solid;
    border-color: var(--color-dark);
  }
  [data-popover][role='tooltip'][data-popper-placement^='top'] > [data-popper-arrow]:before,
  [data-popover][role='tooltip'][data-popper-placement^='top'] > [data-popper-arrow]:after {
    border-bottom-width: 1px;
    border-right-width: 1px;
  }
  [data-popover][role='tooltip'][data-popper-placement^='right'] > [data-popper-arrow]:before,
  [data-popover][role='tooltip'][data-popper-placement^='right'] > [data-popper-arrow]:after {
    border-bottom-width: 1px;
    border-left-width: 1px;
  }
  [data-popover][role='tooltip'][data-popper-placement^='bottom'] > [data-popper-arrow]:before,
  [data-popover][role='tooltip'][data-popper-placement^='bottom'] > [data-popper-arrow]:after {
    border-top-width: 1px;
    border-left-width: 1px;
  }
  [data-popover][role='tooltip'][data-popper-placement^='left'] > [data-popper-arrow]:before,
  [data-popover][role='tooltip'][data-popper-placement^='left'] > [data-popper-arrow]:after {
    border-top-width: 1px;
    border-right-width: 1px;
  }
  [data-popover][role='tooltip'][data-popper-placement^='top'] > [data-popper-arrow] {
    bottom: -4px;
  }
  [data-popover][role='tooltip'][data-popper-placement^='bottom'] > [data-popper-arrow] {
    top: -4px;
  }
  [data-popover][role='tooltip'][data-popper-placement^='left'] > [data-popper-arrow] {
    right: -4px;
  }
  [data-popover][role='tooltip'][data-popper-placement^='right'] > [data-popper-arrow] {
    left: -4px;
  }
  [role='tooltip'].invisible > [data-popper-arrow]:before,
  [role='tooltip'].invisible > [data-popper-arrow]:after {
    visibility: hidden;
  }
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    appearance: none;
    border-color: var(--color-body);
    --tw-shadow: 0 0 #0000;
    background-color: #fff;
    border-width: 1px;
    border-radius: 0;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  :is(
    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select
  ):focus {
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: var(--color-brand);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: var(--color-brand);
    outline: 2px solid #0000;
  }
  input::placeholder,
  textarea::placeholder {
    color: var(--color-body);
    opacity: 1;
  }
  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }
  input[type='time']::-webkit-calendar-picker-indicator {
    background: 0 0;
  }
  select:not([size]) {
    print-color-adjust: exact;
    background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3e %3cpath stroke='oklch(55.1%25 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3e %3c/svg%3e");
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 0.75em 0.75em;
    padding-right: 2.5rem;
  }
  [dir='rtl'] select:not([size]) {
    background-position: 0.75rem;
    padding-left: 0;
    padding-right: 0.75rem;
  }
  [multiple] {
    background-image: initial;
    background-position: initial;
    background-repeat: unset;
    background-size: initial;
    print-color-adjust: unset;
    padding-right: 0.75rem;
  }
  [type='checkbox'],
  [type='radio'] {
    appearance: none;
    print-color-adjust: exact;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    width: 1rem;
    height: 1rem;
    color: var(--color-brand);
    border-color: var(--color-default);
    --tw-shadow: 0 0 #0000;
    background-color: #fff;
    background-origin: border-box;
    border-width: 1px;
    flex-shrink: 0;
    padding: 0;
    display: inline-block;
    position: relative;
  }
  [type='checkbox'] {
    border-radius: 0;
  }
  [type='radio'] {
    border-radius: 100%;
  }
  [type='checkbox']:focus,
  [type='radio']:focus {
    --tw-ring-inset: var(--tw-empty,);
    --tw-ring-offset-color: #fff;
    --tw-ring-color: var(--color-brand);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    outline: 1px solid #0000;
  }
  [type='checkbox']:checked,
  .dark [type='checkbox']:checked {
    border-color: currentColor !important;
  }
  [type='checkbox']:checked,
  [type='radio']:checked,
  .dark [type='checkbox']:checked,
  .dark [type='radio']:checked {
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: currentColor !important;
    background-size: 0.85em 0.85em !important;
  }
  [type='checkbox']:checked {
    print-color-adjust: exact;
    background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 11.917 9.724 16.5 19 7.5'/%3e %3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 0.75em 0.75em;
  }
  [type='radio']:checked:before,
  [type='radio']:disabled:checked:before {
    content: '';
    background-color: var(--color-brand);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.9em !important;
    height: 0.9em !important;
  }
  [type='radio']:checked:after,
  [type='radio']:disabled:checked:after {
    content: '';
    background-color: var(--color-white);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.35em !important;
    height: 0.35em !important;
  }
  .dark [type='radio']:checked:before,
  .dark [type='radio']:disabled:checked:before {
    content: '';
    background-color: var(--color-brand);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.9em !important;
    height: 0.9em !important;
  }
  .dark [type='radio']:checked:after,
  .dark [type='radio']:disabled:checked:after {
    content: '';
    background-color: var(--color-white);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.35em !important;
    height: 0.35em !important;
  }
  [type='checkbox']:indeterminate {
    print-color-adjust: exact;
    background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M0.5 6h14'/%3e %3c/svg%3e");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 1.55em 1.55em;
    background-color: currentColor !important;
    border-color: #0000 !important;
  }
  [type='checkbox']:indeterminate:hover,
  [type='checkbox']:indeterminate:focus {
    background-color: currentColor !important;
    border-color: #0000 !important;
  }
  [type='file'] {
    background: unset;
    border-color: inherit;
    font-size: unset;
    line-height: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
  }
  [type='file']:focus {
    outline: 1px auto inherit;
  }
  input[type='file']::file-selector-button {
    color: var(--color-body);
    background: var(--color-neutral-quaternary);
    cursor: pointer;
    border: 0;
    margin-inline: -1rem 1rem;
    padding: 0.625rem 1rem 0.625rem 2rem;
    font-size: 0.875rem;
    font-weight: 500;
  }
  input[type='file']::file-selector-button:hover {
    background: var(--color-neutral-quaternary);
  }
  [dir='rtl'] input[type='file']::file-selector-button {
    padding-left: 1rem;
    padding-right: 2rem;
  }
  .dark input[type='file']::file-selector-button {
    color: var(--color-body);
    background: var(--color-neutral-quaternary);
  }
  .dark input[type='file']::file-selector-button:hover {
    background: var(--color-neutral-quaternary);
  }
  input[type='range']::-webkit-slider-thumb {
    background: var(--color-brand);
    appearance: none;
    cursor: pointer;
    border: 0;
    border-radius: 9999px;
    width: 1.25rem;
    height: 1.25rem;
  }
  input[type='range']:disabled::-webkit-slider-thumb {
    background: var(--color-body);
  }
  .dark input[type='range']:disabled::-webkit-slider-thumb {
    background: var(--color-body);
  }
  input[type='range']:focus::-webkit-slider-thumb {
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(164 202 254 / var(--tw-ring-opacity));
    outline: 2px solid #0000;
  }
  input[type='range']::-moz-range-thumb {
    background: var(--color-brand);
    appearance: none;
    cursor: pointer;
    border: 0;
    border-radius: 9999px;
    width: 1.25rem;
    height: 1.25rem;
  }
  input[type='range']:disabled::-moz-range-thumb {
    background: var(--color-body);
  }
  .dark input[type='range']:disabled::-moz-range-thumb {
    background: var(--color-body);
  }
  input[type='range']::-moz-range-progress {
    background: var(--color-brand);
  }
  input[type='range']::-ms-fill-lower {
    background: var(--color-brand);
  }
  input[type='range'].range-sm::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
  }
  input[type='range'].range-lg::-webkit-slider-thumb {
    width: 1.5rem;
    height: 1.5rem;
  }
  input[type='range'].range-sm::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
  }
  input[type='range'].range-lg::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;
  }
  .toggle-bg:after {
    content: '';
    border-color: var(--color-default);
    width: 1.25rem;
    height: 1.25rem;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    background: #fff;
    border-width: 1px;
    border-radius: 9999px;
    transition-property:
      background-color,
      border-color,
      color,
      fill,
      stroke,
      opacity,
      box-shadow,
      transform,
      filter,
      -webkit-backdrop-filter,
      backdrop-filter;
    transition-duration: 0.15s;
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
  }
  input:checked + .toggle-bg:after {
    border-color: #fff;
    transform: translate(100%);
  }
  input:checked + .toggle-bg {
    background: var(--color-brand);
    border-color: var(--color-brand);
  }
}
