---
  import { HoverTilt } from 'hover-tilt';
---

<div class="grid md:grid-cols-2 gap-4">
  
  <HoverTilt class="" client:only="svelte" shadow>
    <div class="p-8 bg-slate-600 text-white rounded-3xl not-content">
      <h3>Overflowing Radius</h3>
      <p class="leading-snug">This card has a radius on the content, but no radius on the container. The glare will overflow the radius.</p>
    </div>
  </HoverTilt>
  
  <HoverTilt class="rounded-3xl border border-white/30" client:only="svelte">
    <div class="p-8 bg-slate-600 text-white not-content rounded-3xl">
      <h3>Fixed Radius</h3>
      <p class="leading-snug">This card has a radius on the container and the content. The glare will not overflow the radius.</p>
    </div>
  </HoverTilt>

</div>