---
import { HoverTilt } from 'hover-tilt';
---

<HoverTilt tiltFactor={1.5} scaleFactor={1.1} containerClass="rounded-xl" client:only="svelte">
  <div class="card not-content">
    <h2>Card Title</h2>
    <p>Hover over this card to see the effect!</p>
  </div>
</HoverTilt>

<style>
  .card {
    display: flex;
    flex-direction: column;
    place-content: center;
    max-width: 400px;
    aspect-ratio: 1.8;
    padding: 2rem;
    color: white;
    background: linear-gradient(135deg, #a6a9b9 0%, #454f54 100%);
  }
</style>
