---
// Basic Credit Card Demo
import WebComponentLoader from '@components/WebComponentLoader.astro';
import { Image } from 'astro:assets';
import amexPlatinum from '@assets/amex.webp';
---

<WebComponentLoader />

<div class="flex flex-col justify-center items-center mx-10 gap-4">
  <div class="">
    <h3 class="text-center text-balance text-gray-500 text-base font-bold mb-2">Default settings</h3>
    <hover-tilt class="[&::part(container)]:rounded-[4%/6%]" shadow shadow-blur={30} scale-factor={1.15}>
      <Image src={amexPlatinum} alt="Credit Card" class="rounded-[4%/6%]" alt="American Express Platinum" />
    </hover-tilt>
  </div>

  <div>
    <h3 class="text-center text-balance text-gray-500 text-base font-bold mb-2">With Glare Mask</h3>
    <hover-tilt
      class="[&::part(container)]:rounded-[4%/6%]"
      shadow
      shadow-blur={30}
      scale-factor={1.15}
      glare-intensity={0.5}
      blend-mode="difference"
      glare-mask="url(/amex-pattern.png)"
    >
      <Image src={amexPlatinum} alt="Credit Card" class="rounded-[4%/6%]" alt="American Express Platinum" />
    </hover-tilt>
  </div>
</div>
