---
// Stacked 3D Text Demo
import WebComponentLoader from '@components/astro/WebComponentLoader.astro';
import { Image } from 'astro:assets';
import bg from './bikini-bottom.jpg';
import spongebob from './spongebob.png';
import logo from './spongebob-logo.png';
---

<WebComponentLoader />

<div class="flex justify-center items-center mx-10 not-content">
  <hover-tilt
    class="stacked-3d [&::part(container)]:rounded-2xl"
    shadow
    shadow-blur="30"
    scale-factor="1.15"
    glare-intensity="0.5"
    spring-options='{ "stiffness": 0.08, "damping": 0.15 }'
    tilt-spring-options='{ "stiffness": 0.1, "damping": 0.2 }'
    blend-mode="normal"
  >
    <div
      class="stacked-3d-content @container relative w-100 aspect-4/3 rounded-2xl flex items-center justify-center bg-linear-to-t from-[#13547a] to-[#80d0c7] from-[-40%] to-120%"
    >
      <Image
        src={bg}
        alt="Bikini Bottom"
        class="stacked-3d-bg absolute w-100 h-auto aspect-4/3 object-cover rounded-2xl"
        format="webp"
        width={400}
        layout="constrained"
      />
      <Image
        src={logo}
        alt="SpongeBob SquarePants Logo"
        class="stacked-3d-logo absolute w-[90cqw] h-auto"
        format="webp"
        width={400}
        layout="constrained"
      />
      <Image
        src={spongebob}
        alt="SpongeBob SquarePants"
        class="stacked-3d-image absolute w-[45cqw] h-auto"
        format="webp"
        width={400}
        layout="constrained"
      />
    </div>
  </hover-tilt>
</div>

<style>
  .stacked-3d::part(tilt) {
    /* by default, the will-change list is: transform, box-shadow, opacity */
    will-change: transform, box-shadow, mask;
    /* we remove the 'opacity' property from the will-change list, because when 'opacity'
      is set; the 3d context becomes "flat" and will not allow parallax effects. */
  }

  .stacked-3d::part(tilt)::before {
    z-index: 1;
    /* make sure the glare is on top of the background image */
  }

  .stacked-3d-content {
    --depth: 60px; /* an arbitrary depth value */
    --layer-z: max(
      var(--hover-tilt-opacity, 0) * var(--depth),
      0px
    ); /* max is used so the layers dont go behind the background */
    --shadow-opacity: calc(var(--hover-tilt-opacity, 0) * 0.4); /* shadow is hidden when the layer is not active */
    --shadow-size: calc(var(--depth) / 5); /* shadow size is 1/5 of the depth */
    --shadow-offset: calc(var(--depth) / 8); /* shadow offset is 1/8 of the depth */
    --shadow-offset-x: calc(var(--shadow-x) * var(--shadow-offset));
    --shadow-offset-y: calc(var(--shadow-y) * var(--shadow-offset));

    /* this is essential for the 3d effect to work */
    transform-style: preserve-3d;
  }

  .stacked-3d-logo,
  .stacked-3d-image {
    /* pop the logo and icon to the front of the container */
    transform: translateZ(var(--layer-z));
    filter: drop-shadow(
      var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-size) rgba(0, 0, 0, var(--shadow-opacity))
    );
    will-change: transform, text-shadow;
  }

  .stacked-3d-image {
    /* the icon is popped out 2x further than the logo */
    transform: translateZ(calc(var(--layer-z) * 2));
    /* the icon is hidden when the layer is not active */
    opacity: calc(var(--hover-tilt-opacity, 0) * 1.2 - 0.1);
  }
</style>
